<div>
  <h2 style="background-color: black; color: white; padding: 5px">Hackathon Event Creation </h2><br><br>
  <form #regForm="ngForm" (ngSubmit)="submitForm(regForm.value)">
    <h4>Basic info</h4>
    <custom-edit-text [(ngModel)]="hEvent.title" name="title" inputLabel="Event Title"></custom-edit-text>
    <custom-edit-text [(ngModel)]="hEvent.prize" name="prize" inputLabel="Event Prize"></custom-edit-text>
    <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
    </ngb-datepicker>

    <ng-template #t let-date let-focused="focused">
      <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
        {{ date.day }}
      </span>
    </ng-template>

    <hr>
    <h4>Configurations</h4>
    <custom-edit-text [(ngModel)]="hEvent.eventConfig.teamMembersMax" name="teamMembersMax"
      inputLabel="Maximum Team members allowed"></custom-edit-text>
    <custom-edit-text [(ngModel)]="hEvent.eventConfig.ideaSubmissionMax" name="ideaSubmissionMax"
      inputLabel="Maximum number of ideas allowed"></custom-edit-text>
    <custom-edit-text [(ngModel)]="hEvent.eventConfig.evaluationProcedure" name="evaluationProcedure"
      inputLabel="Evaluation Procedure"></custom-edit-text>

    <h6>Assigned Host</h6>
    <div *ngIf="assignedHost.credential && assignedHost.teamMembers[0]">
      <div class="d-flex">
        <div class="p-2 mr-auto">
          <img style="height: 50px"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSq1dY23KgG4yP2_LG2oTdUhHNP54MrjZ15kXx2dVK-WVFcz906" />
        </div>
        <div class="flex-grow-1" style="margin-top: 10px">
          <h6>Email Address: {{assignedHost.credential.userName}}</h6>
          <h6>Name: {{assignedHost.teamMembers[0].firstName}} {{assignedHost.teamMembers[0].lastName}}</h6>
        </div>
      </div>
    </div>

    <div class='col-md-4'>
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="Filter By Email"
          [(ngModel)]='listFilter'>
      </div>
    </div>
    
    <div class='table-responsive'>
      <table class='table' *ngIf='listOfHosts && listOfHosts.length'>
        <thead>
          <tr>
            <th>
              Available Hackathon Hosts
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let host of filteredHosts'>
            <td (click)="onHostClicked(host)">
              {{host.credential.userName}}
            </td>
        </tbody>
      </table>
    </div>

    <div class="text-center"><button class="btn btn-primary"
        style="align-items: center; margin-bottom: 20px; height: 60; width: 60%" type="submit">Submit</button>
    </div>
  </form>
</div>